@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    
    #login{
        width: 90vw;
        height: 30vh;
    }

    #login > #imagem{
        float: left;
        width:50%;
        height:100%;
    }
    
    #login > #formulario{
        float: right;
        width:50%;
    }
}

@media screen and (min-width:992px){
    #login{
        width: 980px;
        height: 400px;
    }

    #login > #imagem{
        float: right;
        width:50%;
        height:100%;
    }
    
    #login > #formulario{
        float: left;
        width:50%;
    }
}