@charset "UTF-8";

:root{
    --cor1:#8C041D;
    --cor2:#00003E;
    --cor3:#D9B504;
    --cor4:#F28705;
    --cor5:#F21B07;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-image:linear-gradient(to right,var(--cor1), var(--cor4),var(--cor3));
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    left: 50%;
    top: 50%;
    
    background-color:white;
    width: 300px;
    height: 620px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.767);
    
    transform: translate(-50%,-50%);
    transition:width .5s, height .5s;
    transition-timing-function:ease ;
}

#imagem{
    display: block;
    background: var(--cor2) url(../imagens/pexels-turgay-koca-405356598-15307694.jpg);
    background-size: cover;
    width: 300px;
    height: 290px;
}

#formulario{
    display: block;
    padding:10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

#formulario > p {
    font-size: 1em;
}

form{
    padding: 10px;
    margin-bottom: 10px;
}

.campo{
    display: block;
    background-color: var(--cor2);
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border:2px solid #4d677e;
    border-radius: 7px;
}

.campo > label{
    display: none;
}

.campo > span{
    color:white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: #01498E;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    border:0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-36%);
}

.campo > input:focus-within{
    background-color: white;
    border:none;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height:40px;
    background-color: var(--cor4);
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type="submit"]:hover{
    background-color: #c46f08;
}

form > .botao{
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    
    width: 100%;
    height: 40px;
    margin-top:5px;
    border:1px solid #F28705;
    border-radius: 7px;
    
    background-color: white;
    color: #e29b44;
    cursor: pointer;
}

